*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
q:before,
q:after {
  content: "";
}
html,
body,
h1,
h2,
h3,
h4,
p,
ol,
ul,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none !important;
}

img {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
body{
  font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif;
}
/* ====================================== common css start =========================================================== */
.title{
  text-align: center;
  margin-bottom: 50px;
 }
 .title h2{
  font-family: inter;
  font-size: 45px;
  font-weight: 700;
  color: #151515;
  margin-bottom: 20px;
 }
.title p{
  font-family: inter;
  font-size: 16px;
  font-weight: 400;
  color: #737373;
  width: 609px;
  margin: auto;
  
 }
/* ====================================== common css end =========================================================== */
nav{
  background-color: transparent;
  position: absolute !important;
  width: 100%;
  top: 35px;
  /* transform: translateY(-50%); */
}
nav ul li{
  margin-right: 67px;
}

nav ul li a{
  font-family: inter;
  font-size: 18px;
  font-weight: 400;
  transition: .4s !important;
  color: #fff !important;
}
nav ul li a:hover{
  font-weight: 700;
  color: #4756DF !important;
}
  
 
.contact-btn a{
    font-family: inter;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    padding: 15px 42px;
    background-color: #6A4DF4;
    border-radius: 10px;
}
#banner{
  background-image: url("images/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
#banner .flex-d{
  flex-direction: column;
  
}
#banner .overlay{
  background: rgba(0, 0, 0, 0.6);
  padding: 315px 0px 176px 0px;
  color: #fff;
  text-align: center;
}
#banner .overlay .flex-d .heading h1{
  font-family: inter;
    font-weight: 700;
    font-size: 75px;
    color: #fff;
    width: 950px;
    text-align: center;
    margin: auto;
    
   
}
#banner .overlay .flex-d .info p{
  font-family: inter;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    width: 621px;
    text-align: center;
    margin: auto;
    margin-top: 51px;
    }
    #banner .overlay .contact-btn{
      margin-top: 40px;
    }
    .about{
      margin-top: 171px;
      height: 300px;
      background-color: #E0FFF9;
      align-items: center;
      border-radius: 20px;
      margin-bottom: 149px;
    }
    
    .about .success h3{
      font-family: inter;
      font-weight: 500;
      font-size: 25px;
      color: #6A4DF4;
      margin-left: 50px;
      margin-bottom: 15px;
    }
    .about .success h2{
      font-family: inter;
      font-weight: 600;
      font-size: 35px;
      color: #151515;
      width: 387px;
      margin-left: 50px;
    }
    .about .number .flex-d h2{
      font-family: inter;
      font-weight: 700;
      font-size: 50px;
      color: #151515;
      margin-bottom: 20px;
     
    }
    .about .number .flex-d p{
      font-family: inter;
      font-weight: 500;
      font-size: 20px;
      color: #737373;
      }
    #services .custom-card{
      text-align: center;
      justify-content: center;
      margin-bottom: 24px;
     padding: 80px 49px;
    }
    #services .custom-card picture img{
      display: inline;
      margin-bottom: 40px;
      
    }
    #services .custom-card h2{
      font-family: inter;
      font-weight: 700;
      font-size: 25px;
      color: #151515;
      margin-bottom: 20px;
    
    }
    #services .custom-card p{
      font-family: inter;
      font-weight: 400;
      font-size: 16px;
      color: #737373;
     
    
    }
    #services .custom-card:hover{
      box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
    }
    #services{
      margin-bottom: 103px;
    }
    #recent-wrk{
      background-color: #F3F3F3;
      padding-bottom: 150px;
    }
    #recent-wrk .title h2{
       padding-top: 150px;
    }
#recent-wrk .design .custom-card h2{
  font-family: inter;
  font-weight: 700;
  font-size: 20px;
  color: #151515;
  margin-top: 30px;

}
#recent-wrk .design .custom-card p{
  font-family: inter;
  font-weight: 400;
  font-size: 16px;
  color: #737373;
  width: 340px;
  margin: 10px auto;
  padding-bottom: 30px;

}
#recent-wrk .design .custom-card{
  background-color: white;
  text-align: center;
  border-radius: 20px;
  
}
.custom_m_top{
  margin-top: 24px;
}



#agenc .title h2{
  width: 518px;
 margin: 0 auto;
 padding-top: 150px;
}
#agenc .title p{
  width: 802px;
  margin-top: 20px;
  margin-bottom: 130px;
}
#agenc .ideas{
  align-items: center;
}
#agenc .ideas h3{
  font-family: inter;
  font-weight: 700;
  font-size: 25px;
  color: #151515;
}
#agenc .ideas p{
  font-family: inter;
  font-weight: 400;
  font-size: 16px;
  color: #737373;
  width: 344px;
}
#agenc .ideas .paragraph{
  margin-bottom: 88px;
}




#reviews .title h2{
 margin-top: 106px;
}
#reviews .title p{
margin-bottom: 130px;
}
#reviews{
  margin-bottom: 227px;
}
#reviews .clnt-review .item:hover{
  background-color: #F4EFEF;
}
#reviews .clnt-review .item{
  padding: 54px 58px;
  border-radius: 30px;
  transition: .4s;
}
#reviews .clnt-review .item h4{
  font-family: inter;
  font-weight: 400;
  font-size: 16px;
  color: #7B7B7B;
  width: 307px;
  margin-bottom: 20px;
  margin-top: 20px;
}
#reviews .clnt-review .item .icons{
  margin-bottom: 32px;
}
#reviews .clnt-review .item .icons span{
  color: #F9BD2C;
}
#reviews .clnt-review .item .custom-flex{
  display: flex;
  column-gap: 20px;
  align-items: center;
}
#reviews .clnt-review .item .custom-flex h3{
  font-family: inter;
  font-weight: 600;
  font-size: 20px;
  color: #232323;
 
}
#reviews .clnt-review .item .custom-flex h5{
  font-family: inter;
  font-weight: 400;
  font-size: 16px;
  color: #7B7B7B;
 
}





#form{
  background-color: #F3F3F3;
  padding: 150px 0px;
}
#form .form-start .content h3{
  font-family: inter;
  font-weight: 700;
  font-size: 45px;
  color: #151515;
}
#form .form-start .content p{
  font-family: inter;
  font-weight: 400;
  font-size: 16px;
  color: #737373;
  width: 526px;
  margin-top: 20px;
  
}

#form .form-start .form-details{
  padding: 61px 43px;
  background-color: #FFFFFF;
  border-radius: 20px;
  width: 536px;
}
#form .form-start .form-details h3{
  font-family: inter;
  font-weight: 700;
  font-size: 30px;
  color: #151515;
  text-align: center;
  margin-bottom: 30px;
}
#form .form-start .form-details .text{
  font-family: inter;
  font-weight: 500;
  font-size: 16px;
  color: #151515;
  
}
#form .form-start .form-details .input{
  font-family: inter;
  font-weight: 400;
  font-size: 16px;
  color: #D0D0D0;
  padding: 19px 0px 19px 23px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #E8E8E8;
  
  
}
#form .form-start .form-details .input{
  width: 100%;
}
#form .form-start .form-details button{
  padding: 19px 0px;
  width: 100%;
  background-color: #6A4DF4;
  border-radius: 10px;
}
#form .form-details button a{
  font-family: inter;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
}
#form .form-start{
  align-items: center;
}



.footer{
  margin-top: 150px;
  margin-bottom: 50px;
}
.footer .custom-gap{
  column-gap: 50px;
}
    
.footer h3{
  font-family: inter;
  font-weight: 600;
  font-size: 20px;
  color: #151515;
  margin-bottom: 40px;
}
.footer ul li{
  font-family: inter;
  font-weight: 400;
  font-size: 16px;
  color: #7B7B7B;
  margin-bottom: 15px;
}
.footer p{
  font-family: inter;
  font-weight: 400;
  font-size: 16px;
  color: #7B7B7B;
  margin-top: 30px;
  width: 356px;
}
.footer-btm{
  width: 100%;
  text-align: center;
}
.footer-btm footer p{
  font-family: inter;
  font-weight: 400;
  font-size: 16px;
  color: #D0D0D0;
  margin-bottom: 33px;
}
    
